@font-face {
    font-family: Tribe;
    src: url("./Afolkalips.otf");
}

* {
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}

html {
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    right: 0;
    transition: right 1s;
}

#nonMenu {
    right: 0;
    width: 100vw;
    height: 800px;
    min-height: 100vh;
    position: relative;
    background-image: url("./Background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#Header {
    height: 200px;
    position: relative;
}

#HeaderLogo {
    display: inline-block;
    position: relative;
    height: 80%;
    top: 10%;
    left: 1%;
}

#HeaderRightHalf {
    display: block;
    float: right;
    width: calc(100% - 310px);
    height: 50%;
    position: relative;
    top: 10%;
    text-align: right;
    background-color: black;
}

.HeaderSubPage, .HeaderSubPage:link, .HeaderSubPage:visited, .HeaderSubPage:hover, .HeaderSubPage:active {
    position: relative;
    display: block;
    float: right;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-right: 100px;
    font-family: Tribe;
    font-size: 50px;
    height: 90%;
}

.HeaderSubPage:first-of-type {
    margin-right: 40px;
}

.Selected::after {
    content: "";
    display: block;
    position: relative;
    background-image: url("./SkribbleWhite.png");
    background-size: 100%;
    background-repeat: no-repeat;
    top:2px;
    width: 100px;
    height: 23px;
    color: red;
    margin: auto;
}

#HeaderMenu {
    position: relative;
    float: right;
    color: white;
    text-align: center;
    font-family: Tribe;
    font-size: 50px;
    background: none;
    border: none;
    height: 80%;
}

#HeaderMenuLogo {
    display: inline-block;
    position: relative;
    height: 40%;
    padding-left: 5px;
}

#Menu {
    transition: right 1s;
    display: none;
    position: absolute;
    z-index: 1000000;
    top: 0px;
    right: -200px;
    width: 200px;
    height: 100%;
    background-color: black;
}

.MenuSubPage {
    position: relative;
    display: block;
    float: right;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: Tribe;
    font-size: 50px;
    width: 100%;
}

#Content {
    width: 100%;
}


#Footer {
    position: absolute;
    padding: 80px 5% 0 10%;
    width: 100%;
    bottom: 0;
    background-image: url("FooterBackground.png");
    background-repeat: repeat-x;
    background-size: 1600px 500px;
    height: 250px;
}

.FooterText {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 40px;
}


/* Styles of the template used */
/* -----------------------------------------------------------------------------------------------------*/
/* Styles per page */


#HomeText {
    padding-left: 20%;
    font-family: Tribe;
    text-align: right;
    padding-top: 30px;
}

#HomeText1 {
    font-size: 120px;
}

#HomeText2 {
    font-size: 45px;
}

#HomeImage {
    height: 50%;
}

#AboutText {
    padding-left: 20%;
    text-align: right;
    padding-top: 30px;
}

#HomeText1 {
    font-size: 120px;
}

#HomeText2 {
    font-size: 45px;
}

#HomeImage {
    height: 50%;
}
/* Styles per page */
/* -----------------------------------------------------------------------------------------------------*/
/* General styles */

.bold {
    font-weight: bold;
}

.right {
    text-align: right;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-1 {width: calc(100% / 12)}
.col-2 {width: calc(100% / 6)}
.col-3 {width: calc(100% / 4)}
.col-4 {width: calc(100% / 3)}
.col-5 {width: calc(500% / 12)}
.col-6 {width: calc(100% / 2)}
.col-7 {width: calc(700% / 12)}
.col-8 {width: calc(200% / 3)}
.col-9 {width: calc(300% / 4)}
.col-10 {width: calc(500% / 6)}
.col-11 {width: calc(1100% / 12)}
.col-12 {width: 100%}

[class*="col-"] {
    float: left;
}

/* General styles */
/* -----------------------------------------------------------------------------------------------------*/
/* Media queries */

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (max-width: 600px){
    .HideExtraSmall {
        display: none !important;
    }

    #HeaderRightHalf{
        width: 100px;
    }

}

@media only screen and (min-width: 601px) and (max-width: 991px){
    .HideSmall {
        display: none !important;
    }

    #HeaderRightHalf{
        width: 360px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .HideMedium {
        display: none !important;
    }

    #HeaderRightHalf{
        width: 360px;
    }
}

@media only screen and (min-width: 1200px) {
    
    .HideBig {
        display: none !important;
    }
}




/*Delete everything after this*/

#Header {
    background-color: rgba(255,0,0,0.1);
}

#HeaderLogo {
    border: 2px dashed rgba(0,0,255,0.4);
}
