@font-face {
    font-family: 'oswald';
    src: url('https://nickbroeks.github.io/twitch/fonts/BatmanAlt.ttf');
}

#p1, #p2 {
    background: linear-gradient(45deg, rgba(80,80,100,1) 0%, rgba(240,240,250,1) 50%, rgba(80,80,100,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;   
}
