html {
    overflow-x: hidden;
}

body {
    background-color: #F5C31F;
    margin: 0;
    overflow-x: hidden;
    position: relative;
}

body * {
    -webkit-transition: all 0.25s ease;
    transition: all 0.25 ease;
    
} /* can add this if wanted*/

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 12;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12;
    line-height: 1.8;
    text-align: justify;
}

.big {
    width: 100%;
    position: relative;
}

.whyText {
    display: block;
    float: left;
    width: 100%;
}

#whyContent {
    display: block;
    padding: 20px 0 60px 0;
    width: 300%;
    position: relative;
    left:0%;
    transition: left 0.8s ease;
    
}
#why {
    background-color: white;
    display: block;
    top:0px;
    width: 100%;
    
}

#headerContent {
    padding: 50px 0px;
    position: fixed;
    width: 100vw;
}

#headerButton {
    font-size: 30;
    display: block;
    padding: 15px;
    margin: 20px auto;
    border: 3px solid #13182C;
    color: #13182C;
    background-color: #F5C31F;
}

#headerButton:hover {
    cursor: pointer;
}

#headerButton:focus {
    border: 3px solid #13182C;
    outline: none;
}

#headerLogo {
    width: 80%;
    display: block;
    margin: auto auto;
}
#header {
    height: calc(16vw + 200px);
    background-color: #F5C31F;
}

#candidates {
    height:900px;
    background-color:#13182C;
}

#candidates h1 {
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    font-size: 55px;
}

#candidatesContent {
    width: 100%;
    position: absolute;
}

.candidate {
    display: inline-block;
    width: calc(100% / 3);
}

.candidatePic {
    width: 100%;
}

.candidateInfo {
    position: static;
    width:50%;
    height: 70%;
    background-color: white;
    z-index: 3;
    margin: 7.5% auto;
    transition: opacity 1s ease;
    opacity: 0;
}

.candidateInfo img {
    width:60%;
    margin: 3% 3%;
    float: left;
}

.candidateInfoText {
    width:30%;
    float: left;
    margin: 5% 2%;
}

#closeClick {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    transition: background-color 1s ease;
}

/*For tablets*/
@media only screen and (min-width: 600px) {

    
    #headerLogo {
        width: 80%;
    }
    .candidate {
        width: calc(100% / 5);
    }
}

/*For desktops*/
@media only screen and (min-width: 768px) {

    #header {
        height: calc(12vw + 230px);
    }
    #headerLogo {
        width: 60%;
    }
}

@media only screen and (min-width: 992px) {
    .candidate {
        width: calc(100% / 6);
    }
}

@media only screen and (min-width: 1200px) {
    .candidate {
        width: calc(100% / 8);
    }
}

/*
    dark blue #13182C
    yellow #F5C31F
    brown #585123 red #772F1A
*/